.imgFit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards {
    width: 21em;
    height: 15em;
    border: 2px solid black;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    gap: 15px;
    padding: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
    position: relative;
    z-index: 1;
}

.mouseover {
    cursor: pointer;
}
