.App {
    display: flex;
    flex-direction: column;
}
.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.userGreeting {
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
}
nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    /* padding-left: */
}

.addLog,
.editLog,
.logDetails {
    padding: 0 10%;
}
/* Some Bulma overwrite stuff */
.checkbox-space {
    padding-left: 4px;
}
.title {
    margin-bottom: 0 !important;
    text-align: center;
}

@media screen and (max-width: 635px) {
    .appHeader {
        flex-direction: column;
    }
}

/***********/
/* Leftovers from Create React App */
/***********/

/* .App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
